@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header {
    height: 80px;
    background-color: #9f3647;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.anclaLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.anclaLogo i {
    margin-right: 10px;
}

body {
    background-color: #181419;
    color: white;
}

.centered-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #9f3647;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: #ffd200;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9f3647;
    border: 1px solid #fdab13;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #9f3647;
    border: 1px solid #fdab13;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fdab13;
    font-weight: bold;
    text-aling: left;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

form a {
    padding: 4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #181419;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

div a {
    padding: 8px;
    margin: 4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #181419;
    color: #fdab13;
}
a {
    padding: 20px
    }

@media (max-width: 768px) {
    .header {
        height: initial;
    }
    .navegacion {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 20px;
    }
    .anclaLogo {
        font-size: 1.2rem;
        font-weight: 700;
    }
}
