<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Movie 🚀</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav class="navegacion">
            <a class="anclaLogo" href="#">
                <i class="fas fa-film" aria-hidden="true"></i>
                <span>CAC-Movies</span>
            </a>
        </nav>
    </header>
    <h1>Add Movies to Inventory
    <!--enctype="multipart/form-data" is necessary to send files to the backend.-->
    <form id="form" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required>
        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" required>
        <label for="directors">Directors:</label>
        <input type="text" id="directors" name="directors" required>
        <label for="releaseDate">Release Date:</label>
        <input type="number" id="releaseDate" name="release_year">
        <label for="movieImage">Movie Image:</label>
        <input type="file" id="movieImage" name="image">
        <button type="submit">Add Movie</button>
        <a class="add-movie" href="index.html">Main Menu</a>
    </form>
    <script>
        const URL = "https://proyectocac24171.pythonanywhere.com/";
        document.getElementById('form').addEventListener('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch(URL + 'movies', {
                method: 'POST',
                body: formData
            })
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error adding the movie.');
                }
            })
            .then(function (data) {
                alert('Movie added successfully.');
            })
            .catch(function (error) {
                alert('Error adding the movie.');
            })
            .finally(function () {
                document.getElementById('title').value = "";
                document.getElementById('genre').value = "";
                document.getElementById('duration').value = "";
                document.getElementById('movieImage').value = "";
                document.getElementById('releaseDate').value = "";
                document.getElementById('directors').value = "";
            });
        });
    </script>
</body>
</html>