<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Movies 🚀</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar-index">
            <img class="logo-nav" src="./static/images/logos-nav.webp" alt="logo agencia de aprendizaje">
        </nav>
    </header>
    <div class="logo-centered">
        <img src="./static/images/logo_Codo.jpg" alt="logo">
    </div>
    <h1>Delete Movies from Inventory</h1><br>
    <table id="movies-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Release Date</th>
                <th>Directors</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table><br>
    <div class="centered-container">
        <a href="index.html">Main Menu</a>
    </div>
    <script>
        const URL = "https://proyectocac24171.pythonanywhere.com/";
        function fetchMovies() {
            fetch(URL + 'movies')
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then(data => {
                    const moviesTable = document.getElementById('movies-table').getElementsByTagName('tbody')[0];
                    moviesTable.innerHTML = ''; 
                    data.forEach(movie => {
                        const row = moviesTable.insertRow();
                        row.innerHTML = `
                            <td>${movie.id}</td>
                            <td>${movie.title}</td>
                            <td>${movie.genre}</td>
                            <td>${movie.duration}</td>
                            <td>${movie.release_year}</td>
                            <td>${movie.directors}</td>
                            <td><img src="./static/images/${movie.image_url}" alt="Movie Image" style="width: 100px;"></td>
                            <td><button onclick="deleteMovie('${movie.id}')">Delete</button></td>
                        `;
                    });
                })
                .catch(error => {
                    console.log('Error:', error);
                    alert('Error fetching movies.');
                });
        }

        function deleteMovie(id) {
            if (confirm('Are you sure you want to delete this movie?')) {
                fetch(URL + `movies/${id}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            fetchMovies(); 
                            alert('Movie deleted successfully.');
                        }
                    })
                    .catch(error => {
                        alert(error.message);
                    });
            }
        }
        document.addEventListener('DOMContentLoaded', fetchMovies);
    </script>
</body>
</html>
