<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Usage Example 🚀</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <header>
    <nav class="navbar-index">
    <img class="logo-nav" src="./static/images/logos-nav.webp" alt="logo agencia de aprendizaje">
    </nav>
    </header>
    <div>
        <div class="logo-centered">
            <img src="./static/images/logo_Codo.jpg" alt="logo">
        </div>
        <h1>API Usage Examples</h1><br>
        <table>
            <tr>
                <td class="centered-container"><a href="add-movie.html">Add Movie</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a href="list-movie.html">List Movies</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a href="update-movie.html">Update Movie Details</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a href="delete-movie.html">Delete Movies</a></td>
            </tr>
        </table>
</body>
</html>