<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Usage Example 🚀</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav class="navegacion">
            <a class="anclaLogo" href="#">
                <i class="fas fa-film" aria-hidden="true"></i>
                <span>CAC-Movies</span>
            </a>
        </nav>
    </header>
    <div>
        <h1>API Usage Examples</h1>
        <table>
            <tr>
                <td class="centered-container"><a href="add-movie.html">Add Movie</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a class="moviesapp" href="list-movie.html">List Movies</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a class="moviesapp" href="update-movie.html">Update Movie Details</a></td>
            </tr>
            <tr>
                <td class="centered-container"><a class="moviesapp" href="delete-movie.html">Delete Movies</a></td>
            </tr>
        </table>
    </div>
</body>
</html>