<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List 🚀</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav class="navegacion">
            <a class="anclaLogo" href="#">
                <i class="fas fa-film" aria-hidden="true"></i>
                <span>CAC-Movies</span>
            </a>
        </nav>
    </header>
    
    <h1>Movie List</h1><br>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Release Year</th>
                <th>Directors</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="movieTable"></tbody>
    </table><br>

    <div class="centered-container">
        <a href="index.html">Main Menu</a>
    </div>

    <script>
        const URL = "https://proyectocac24171.pythonanywhere.com/";
        fetch(URL + 'movies')
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error fetching movies.');
                }
            })
            .then(function (data) {
                let movieTable = document.getElementById('movieTable');
                for (let movie of data) {
                    let row = document.createElement('tr');
                    row.innerHTML = '<td>' + movie.id + '</td>' +
                        '<td>' + movie.title + '</td>' +
                        '<td align="right">' + movie.genre + '</td>' +
                        '<td align="right">' + movie.duration + '</td>' +
                        '<td align="right">' + movie.release_year + '</td>' +
                        '<td align="right">' + movie.directors + '</td>' +
                        '<td><img src="https://www.pythonanywhere.com/user/proyectocac24171/files/home/proyectocac24171/mysite/static/images/' + movie.image_url + '" alt="Movie Image" style="width: 100px;"></td>';
                    movieTable.appendChild(row);
                }
            })
            .catch(function (error) {
                alert('Error fetching movies.');
            });
    </script>
</body>
</html>