<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List 🚀</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar-index">
            <img class="logo-nav" src="./static/images/logos-nav.webp" alt="logo agencia de aprendizaje">
        </nav>
    </header>
    <div class="logo-centered">
        <img src="./static/images/logo_Codo.jpg" alt="logo">
    </div>
    <h1>Movie List</h1><br>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Release Date</th>
                <th>Directors</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="movieTable"> </tbody>
    </table><br>

    <div class="centered-container">
        <a href="index.html">Main Menu</a>
    </div>

    <script>
        const URL = "http://proyectocac24171.pythonanywhere.com/";
        fetch(URL + 'movies')
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error fetching movies.');
                }
            })
            .then(function (data) {
                let movieTable = document.getElementById('movieTable');
                for (let movie of data) {
                    let row = document.createElement('tr');
                    row.innerHTML = '<td>' + movie.id + '</td>' +
                        '<td>' + movie.title + '</td>' +
                        '<td align="right">' + movie.genre + '</td>' +
                        '<td align="right">' + movie.duration + '</td>' +
                        '<td> <img src=https://www.pythonanywhere.com/user/proyectocac24171/files/home/proyectocac24171/mysite/static/images/'  + movie.image_url +
                        ' alt="Movie Image" style="width: 100px;"></td>' +
                        '<td align="right">' + movie.release_date + '</td>' +
                        '<td align="right">' + movie.directors + '</td>';
                    movieTable.appendChild(row);
                }
            })
            .catch(function (error) {
                alert('Error fetching movies.');
            });
    </script>
</body>
</html>
